.wrapper {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f5f1f1;
}

.h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 10px;
    border: 1px solid #490909;
    border-radius: 4px;
    font-size: 16px;
}

.form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #490909;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #904646;
}

.link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4d4e4d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
        background-color: #787878;
        color: #fff;
    }
}